<div class="signupform">
  <div class="signupdiv"><input type="text" name="first_name" placeholder="First Name" /></div>
  <div class="signupdiv"><input type="text" name="last_name" placeholder="Last Name" /></div>
  <div class="signupdiv"><input type="text" name="email" placeholder="Email" /></div>
  <div class="signupdiv"><input type="password" name="username" placeholder="Password" /></div>
  <div><input type="submit" name="signup_submit" value="Create an account" /></div>
</div>
