<div class="welcome">
</div>

<div class="welcomelogin">
  <a href="/login"><p class="login">LOGIN</p></a>
</div>

<div class="welcomeboard">
</div>

<div class="welcometext">
  <p class="welcomeheader">Expand your viewing list.</p>
  <p class="welcomep">Add. Rate. Share. Discover.</p>
  <div class="getstarted">
  <a href="/signup"><p class="signup">GET STARTED</p></a>
  </div>
</div>
