
  <% @media.each do |medium| %>
    <div class="mediumbox">
      <div class="titleyear">
        <%= medium.title %> (<%= medium.release_date.year %>)
      </div>

      <div class="mediumimage">
        <%= image_tag medium.image, style: 'height:250px' %>
      </div>
    </div>

  <% end %>
