<div class="mediumpage">
<%= @medium.title %>
<% if @medium.release_date %>
  <%= @medium.release_date.year %>
<% end %>
<% if @medium.image %>
  <%= image_tag @medium.image, style: 'height:250px' %>
<% end %>
</div>
