/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *:focus {
   box-shadow: none;
 }

 * {
   box-sizing: border-box;
 }

.title {
  color: blue;
  font-size: 20px;
  display: inline;
}

.rectangle {
  display: inline-block;
}

a:visited {
  color: red;
  text-decoration: none;
}


.navigation {
  width: 1230px;
  text-align: right;
}

.nav ul {
  list-style: none;
  margin: 0 auto;
  display: inline;
  float: right;
}

.nav li {
  color: red;
  list-style: none;
  padding: 0 10px;
  display: inline;
}

.nav a {
  text-decoration: none;
}

.signupbg {
  position: relative;
  top: 180px;
  height:400px;
  width:380px;
  background: #fff;
  background-size:cover;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.4)
}


.signupform {
  position: relative;
  width: 100%;
  top: 15px;
  text-align: center;
  vertical-align: center;
  margin-left:auto;
  margin-right:auto;
}


input {
  line-height: 40px;
  font-size: 20px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #AAA;

}

input:focus {
  border: 0px solid #f00;
  border-bottom: 2px solid #179A96;
  width: 300px;
  box-shadow: none;
  outline: none;
}

.signupdiv {
  height: 70px;
  text-align: center;
  width: 100%;
  padding: 10px;
  outline: none;
}

::placeholder {
  font-size: 20px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: none;
  font-size: 20px;
}

:placeholder-shown {
  line-height: 40px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #AAA;
}

:placeholder-shown:focus {
  border: none;
  border-bottom: 2px solid #16a085
}

.button {
  height:55px;
  border-radius:20px;
  border:rgba(0,0,0,.3) 0px solid;
  vertical-align: center;
  background:#179A96;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}


.mediumbox {
  display: inline-block;
  border: none;
  padding: 2px;
  width: 200px;
  text-align: center;
}

.titleyear {

}

.mediumimage {

}
