/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 /*
 *= require font-awesome
 */


 *:focus {
   box-shadow: none;
 }

 * {
   box-sizing: border-box;
 }

 a:visited {
   color: #fff;
   text-decoration: none;
 }

body {
  font-family: Rubik, Arial;
  color: #fff;
  font-weight: bold;
}

/* NAV ITEMS */

.nav {
  position: absolute; top: 0px; left: 0px;
  background: #179A96;
  width: 100%;
  min-width: 833px;
  font-family: "Trebuchet MS", Arial;
  font-weight: 400;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.leftnav {
  display: inline-block;
  float: left;
}

.rightnav {
  display: inline-block;
  float:right;
  padding-right: 40px;
  padding-left: 0px;
}

.centernav {
  display: inline-block;
  margin-top: 7px;
  float:right;

}

.leftnav  li {
  list-style: none;
  display: inline-block;
  padding-right: 40px;
}

.leftnav a, .rightnav a {
  text-decoration: none;
}

.rightnav  li {
  list-style: none;
  display: inline-block;
  padding-left: 40px;
}


/* SEARCHBAR */

.search {
  display: inline;
}

.contentWrapper {
  text-align: center;
}

.searchbar {
    background-color: #fff;
    color: black;
    width: 200px;
    height: 25px;
    border: none;
    font-family: "Trebuchet MS", Arial;
    font-size: 1em;
    border-bottom: white solid 2px;
    transition: 0.3s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.searchbar::placeholder {
    color: white;
    font-family: "Trebuchet MS", Arial;
    font-size: 1em;
    /* transition: 0.2s; */
}

.searchbar:focus {
    width: 200px;
    font-family: "Trebuchet MS", Arial;
    font-size: 1em;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    border-bottom: white solid 2px;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: #179A96;
    background: #fff;
    text-decoration: none !important;
    font-family: "Trebuchet MS", Arial;
    font-size: 1.5em;
    padding-left: 0px;
    margin-right: 0px;
    position: relative;
    left: -6px;
    top: 3.9px;
    height: 25.8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;

}

.searchicon {
  position: relative;
  top: 0.01px;
  width: 30px;
}
/* SIGNUP FORM */

.signupbg {
  position: relative;
  top: 180px;
  height:400px;
  width:380px;
  background: #fff;
  background-size:cover;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.4)
}


.signupform {
  position: relative;
  width: 100%;
  top: 15px;
  text-align: center;
  vertical-align: center;
  margin-left:auto;
  margin-right:auto;
}


input {
  line-height: 40px;
  font-size: 20px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #AAA;

}

input:focus {
  border: 0px solid #f00;
  border-bottom: 2px solid #179A96;
  width: 300px;
  box-shadow: none;
  outline: none;
}

.signupdiv {
  height: 70px;
  text-align: center;
  width: 100%;
  padding: 10px;
  outline: none;
}

::placeholder {
  font-size: 20px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: none;
  font-size: 20px;
}

.logindiv:placeholder-shown, .signupdiv:placeholder-shown  {
  line-height: 40px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #AAA;
}

.logindiv:placeholder-shown:focus, .signupdiv:placeholder-shown:focus {
  border: none;
  border-bottom: 2px solid #16a085
}

.button {
  height:55px;
  border-radius:20px;
  border:rgba(0,0,0,.3) 0px solid;
  vertical-align: center;
  background:#179A96;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}


.loginbg {
  position: relative;
  top: 180px;
  height:265px;
  width:380px;
  background: #fff;
  background-size:cover;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.4)
}

.loginform {
  position: relative;
  width: 100%;
  top: 15px;
  text-align: center;
  vertical-align: center;
  margin-left:auto;
  margin-right:auto;
}

.logindiv {
  height: 70px;
  text-align: center;
  width: 100%;
  padding: 10px;
  outline: none;
}
