// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #e6e6e6;
}

.contentWrapper {
  text-align: center;
  position: relative;
  top: 60px;
}

.titleyear {
  color: #000000;
}

.pagination {
  color: #333333;
}

.pagination > a {
  color: #333333;
}

.pagination > .current {
  color: #ff0000;
}

.mediacontainer {
  position: relative;
  display: inline-block;
  margin: 20px;
  top: 100px;
}

.mediumbox {
  display: inline-block;
  overflow: hidden;
  background: #fff;
  margin: 10px;
  padding: 5px;
  width: 230px;
  height: 300px;
  text-align: center;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
  font-size: 13px;
}

.titleyear {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 7px;
}

.pagination {
  font-family: "Prompt", sans-serif;
}

.mediumpage {
  margin: 10px;
  padding: 5px;
  float: left;
  background-color: #fff;
}

.showtitleyear {
  font-family: "Prompt", sans-serif;
  color: #000000;
  padding-bottom: 30px;
}
